
.body {
  color: #FFFFFF;
  background-color: #FFFFFF;
}


.title-container{
  height: 50vh;
}


.title-hello{
  font-size: 10rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;

  color: #202020;
  background-color:
}


.title-name{
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Noto Sans JP', sans-serif;

  position: relative;
  top: -2.5rem;

  color: white;
  background-color: #9A3030;
}


.title-tag{
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;

  position: relative;
  top: -2rem;
}


.about-me-container{
  width: 90vw;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5vw;

  background-color: #9A3030;
}


.about-me-image{
  height: 10vw;
  width: 20vw;

  border-radius: 100%;
  box-shadow: 10px 5px 10px black;
}


.about-me-text{
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;

  color: white;

  padding-left: 15% !important;
  padding-right: 15% !important;
}


.contact-me-container{
  margin-top: 10vh;
  margin-bottom: 10vh;

  font-size: 2rem;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}


.contact-me-icon{
  width: 6rem;
  height: 4rem;
  margin-bottom: 2vh;
}
